@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
    byte length = ViewBag.Length;
    double segment = 100.0 / length;
    var questions = Test.GetAllQuestions();
    int count = 0;
    int total = Test.Length;
}
<div id="content">
    <div class="container">
        <h2>Test</h2>
        <input type="hidden" value="@segment" />
        @using (Html.BeginForm("GetResult", "Search", FormMethod.Post, new { @id = "Values" }))
        {
            for (int i = 1; i <= Test.Length; i++)
            {
                <input id="val-@i" name="results" type="hidden" />
            }
        }
        <div id="test">
            <div style="position:relative;top: 5px;margin: 5px;" id="bar-container" class="progress progress-striped active">
                <div id="bar" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">
                    <span style="color:firebrick;width: 100%;position: absolute;">0%</span>
                </div>
            </div>
            <div id="subdiv" style="display: block;height: 95%;">
                @foreach (Question question in questions)
                {
                    ++count;
                    string uid = "Q" + count;
                    <div id="@uid" class="pad-15" style="display: none;">
                        @if (question != null)
                        {
                            <p>@count. @question.Text</p>
                            <ul class="portfolio clearfix">
                                @if (question.Images != null)
                                {
                                    foreach (string image in question.Images)
                                    {
                                        <li class="box-30">
                                            <a href="@image" id="@ViewBag.Id-1" class="magnifier">
                                                <div class="">
                                                    <img alt="" src="@(image + "?w=400")" style="visibility: visible; opacity: 1;">
                                                </div>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                                bool b = true;
                                foreach (var value in question.Answers)
                                {
                                    <div class="radio">
                                        <label>
                                            @if (b)
                                            {
                                                <input type="radio" name="@question.Id" value="@value.Id" required checked="checked" />
                                                b = false;
                                            }
                                            else
                                            {
                                                <input type="radio" name="@question.Id" value="@value.Id" required />
                                            }
                                            @value.Text
                                        </label>
                                    </div>
                                }
                                if (count == total)
                                {
                                    <button id="send" onclick="GetResult('@question.Id', 'val-@count');" class="btn btn-1">Ответить</button>
                                }
                                else
                                {
                                    <button id="send" onclick="NextQuestion('@question.Id', 'val-@count'); " class=" btn btn-1">Ответить</button>
                                }
                        }
                        else
                        {
                            <p>Упс! Произошла ошибка</p>
                        }
                    </div>
                }
            </div>

        </div>
    </div>
</div>
@section Scripts
{
    <script>
        var id = 1;

        function NextQuestion(sourceName, name) {
            SetValue(sourceName, name);
            $("#Q" + (id + 1)).fadeIn('slow');
            $("#Q" + id).replaceWith("");
            var percent = (id * parseFloat('@segment')) + "%";
            $("#bar").css("width", percent);
            $("#bar").html(percent);
            id++;
        }

        function GetResult(sourceName, name) {
            SetValue(sourceName, name);
            $("#Values").submit();
        };

        function SetValue(sourceName, name) {
            $("#" + name).val($("input[name=" + sourceName + "]:checked").val());
        }

        $(document).ready(function () {
            $('.magnifier').touchTouch(3);
            $('#Q1').show();

        });
    </script>
}