@model Tuple<IEnumerable<News>>
@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bg-content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <!-- slider -->
                <div class="flexslider">
                    <ul class="slides">
                        <li> <img src="~/Images/Slider/1.jpg" alt=""> </li>
                        <li> <img src="~/Images/Slider/2.jpg" alt=""> </li>
                        <li> <img src="~/Images/Slider/3.jpg" alt=""> </li>
                        <li> <img src="~/Images/Slider/4.jpg" alt=""> </li>
                        <li> <img src="~/Images/Slider/5.jpg" alt=""> </li>
                    </ul>
                </div>
                <span id="responsiveFlag"></span>
                <div class="block-slogan">
                    <h2>@ViewBag.Temp</h2>
                    <div>
                        <p>This template is designed and developed over the Bootstrap frontend framework. Which is a free front-end framework for designers. Template is fully <i>responsive</i> and <i>compatible</i> with all the major browsers.</p>
                        <p style="text-align:center; padding-top:20px;"><a href="#" class="btn btn-1">Download Bootstrap</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- content -->

    <div id="content" class="content-extra">
        <div class="ic"></div>
        <div class="row-1">
            <div class="container">
                <div class="row">
                    <article class="span12">
                        <h4>Our Work</h4>
                    </article>
                    <div class="clear"></div>
                    <ul class="portfolio clearfix">
                        <li><a href="~/Images/image-blank.png" class="magnifier"><img alt="" src="~/Images/work/1.jpg"></a></li>
                        <li><a href="~/Images/image-blank.png" class="magnifier"><img alt="" src="~/Images/work/2.jpg"></a></li>
                        <li><a href="~/Images/image-blank.png" class="magnifier"><img alt="" src="~/Images/work/3.jpg"></a></li>
                        <li><a href="~/Images/image-blank.png" class="magnifier"><img alt="" src="~/Images/work/4.jpg"></a></li>
                        <li><a href="~/Images/image-blank.png" class="magnifier"><img alt="" src="~/Images/work/5.jpg"></a></li>
                        <li><a href="~/Images/image-blank.png" class="magnifier"><img alt="" src="~/Images/work/6.jpg"></a></li>
                        <li><a href="~/Images/image-blank.png" class="magnifier"><img alt="" src="~/Images/work/7.jpg"></a></li>
                        <li><a href="~/Images/image-blank.png" class="magnifier"><img alt="" src="~/Images/work/8.jpg"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row-2">
            <div class="container">
                <h3>Не хотите искать автомобиль вручную?</h3>
                <p>Ответьте на нексолько вопросов и наша система автоматически подберет Вам автомобиль.</p>
                @Html.ActionLink("Подобрать авто", "TestPage", "Search", null, new { @class = "btn btn-1" })
            </div>
        </div>
        <div class="row-1">
            <div class="container">
                <div class="row">
                    <article class="span12">
                        <h4>@Html.ActionLink("Новости", "Index", "News")</h4>
                    </article>
                    <ul class="news-list">
                        @foreach (News news in Model.Item1)
                        {
                            <li>
                                <div class="news-thumb">
                                    <img src="@(news.Image + "?w=250&h=155")">
                                    <div class="comments-counter">
                                        <a title="Перейти к комментариям" href="@Url.Action( "News", "News", new { id = news.Id })#comments"><i class="fa fa-comment"></i> @news.CommentsToNews.Count</a>
                                    </div>
                                </div>
                                <a href="@Url.Action("News","News",new{id=news.Id})">@news.ShortTitle</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <article class="span6">
                    <h3>Shortly about us</h3>
                    <div class="wrapper">
                        <figure class="img-indent"><img src="~/Images/15.jpg" alt="" /></figure>
                        <div class="inner-1 overflow extra">
                            <div class="txt-1">Mauris scelerisque odio quis leo viverra ac porttitor sem blandit. Sed tincidunt mattis varius. Nunc sodales ipsum nisl, eget lacinia nibh.</div>
                            Cras lacus tortor, tempus vitae porta nec, hendrerit id dolor. Nam volutpat gravida porta. Suspendisse turpis nibh, volutpat.
                        </div>
                    </div>
                </article>
                <article class="span6">
                    <h3>Some quick links</h3>
                    <div class="wrapper">
                        <ul class="list list-pad">
                            <li><a href="#">Campaigns</a></li>
                            <li><a href="#">Portraits</a></li>
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Fine Art</a></li>
                        </ul>
                        <ul class="list list-pad">
                            <li><a href="#">Campaigns</a></li>
                            <li><a href="#">Portraits</a></li>
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Fine Art</a></li>
                        </ul>
                        <ul class="list list-pad">
                            <li><a href="#">Campaigns</a></li>
                            <li><a href="#">Portraits</a></li>
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Fine Art</a></li>
                        </ul>
                        <ul class="list">
                            <li><a href="#">Advertising</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Love story</a></li>
                            <li><a href="#">Landscapes</a></li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>