@model Tuple<IEnumerable<News>,IEnumerable<CarModel>>
@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bg-content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <!-- slider -->
                <div class="flexslider">
                    <ul class="slides">
                        <li> <img src="~/Images/Slider/1.jpg" alt=""> </li>
                        <li> <img src="~/Images/Slider/2.jpg" alt=""> </li>
                        <li> <img src="~/Images/Slider/3.jpg" alt=""> </li>
                        <li> <img src="~/Images/Slider/4.jpg" alt=""> </li>
                        <li> <img src="~/Images/Slider/5.jpg" alt=""> </li>
                    </ul>
                </div>
                <span id="responsiveFlag"></span>

            </div>
        </div>
    </div>

    <div id="content" class="content-extra">
        <div class="ic"></div>
        <div class="row-1">
            <div class="container">
                <div class="row">
                    <article class="span12">
                        <h4>@Html.ActionLink("Автомобили", "Index", "Search")</h4>
                    </article>
                    <ul class="news-list">
                        @foreach (CarModel m in Model.Item2)
                        {
                            <li>
                                <div class="thumb">
                                    <a href="@Url.Action("Model", "Search", new { id = m.Id })">
                                        <img src="@(m.Image + "?w=250&h=155")" />
                                    </a>
                                </div>
                                <a style="text-align: center; display: block;" href="@Url.Action("Model", "Search", new { id = m.Id })">@m.FullName</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row-2">
            <div class="container">
                <h3>Не хотите искать автомобиль вручную?</h3>
                <p>Ответьте на нексолько вопросов и наша система автоматически подберет Вам автомобиль.</p>
                @Html.ActionLink("Подобрать авто", "TestPage", "Search", null, new { @class = "btn btn-1" })
            </div>
        </div>
        <div class="row-1">
            <div class="container">
                <div class="row">
                    <article class="span12">
                        <h4>@Html.ActionLink("Новости", "Index", "News")</h4>
                    </article>
                    <ul class="news-list">
                        @foreach (News news in Model.Item1)
                        {
                            <li>
                                <div class="news-thumb">
                                    <img src="@(news.Image + "?w=250&h=155")">
                                    <div class="comments-counter">
                                        <a title="Перейти к комментариям" href="@Url.Action( "News", "News", new { id = news.Id })#comments"><i class="fa fa-comment"></i> @news.Comments.Count</a>
                                    </div>
                                </div>
                                <a href="@Url.Action("News","News",new{id=news.Id})">@news.ShortTitle</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>