@model Brand
@{
    ViewBag.Title = Model != null ? Model.Name : "Бренд не найден";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@if (Model == null)
{
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Бренд не найден</h1>
        </div>
    </div>
    return;
}
@{
    IEnumerable<ModelLine> modelLines = Model.ModelLines;
}

@section Styles
{
    @Styles.Render("~/bundles/DataTablesStyles")
}
@section Scripts
{
    @Scripts.Render("~/bundles/DataTablesScripts")
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
}
<div class="breadcrumbs flat">
    @HtmlManager.DashboardBreadCrumbs(Html, Model)
</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header fleft">@Model.Name</h1>
        <div class="action-buttons">
            @HtmlManager.AddButton(HtmlManager.AddLink(Html,Model))
            @HtmlManager.EditButton(HtmlManager.EditLink(Html, Model))
            @HtmlManager.DeleteButton(HtmlManager.DeleteLink(Html,Model))
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        @HtmlManager.ProccessResultContainer(ViewBag.Result)
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <td>Название</td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td>Изображение</td>
                    <td>@HtmlManager.Image(Model.Image, Model.Name)</td>
                </tr>
            </table>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Модельные линии
            </div>
            @if (!modelLines.Any())
            {
                <div class="panel-body">
                    <h3>У бренда нет модельных линий</h3>
                </div>
                return;
            }
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Имя</th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ModelLine modelLine in modelLines)
                            {
                                <tr>
                                    <td>@modelLine.Id</td>
                                    <td>@Html.ActionLink(modelLine.FullName, "ModelLine", new { id = modelLine.Id })</td>
                                    <td>
                                        @HtmlManager.EditIconLink(Url.Action("EditModelLine","Dashboard",new{id=modelLine.Id}))
                                        @HtmlManager.DeleteIconLink(Url.Action("DeleteModelLine", "Dashboard", new { id = modelLine.Id }))
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>