@model News
@{
    ViewBag.Title = Model != null ? "Удалить новость " + Model.ShortTitle : "Новость не найдена";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@if (Model == null)
{
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header fleft">Новость не найдена</h1>
        </div>
    </div>
    return;
}
@*<div class="breadcrumbs flat">
    @HtmlManager.DashboardBreadCrumbs(Html, Model, HtmlManager.DeleteLink(Html, Model))
</div>*@
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header fleft">Удалить новость</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p>Вы уверены, что хотите удалить новость "@Model.ShortTitle" ? Будут удалены все комментарии, относящиеся к этой новости.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @HtmlManager.ProccessResultContainer(ViewBag.Result)
        @using (Html.BeginForm("ManageNewsDeleting", "Dashboard", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(id => Model.Id)
            <div class="form-group">
                @HtmlManager.SubmitButton()
                @HtmlManager.DefaultButton(Html.ActionLink("Назад", "News", "Dashboard", new { id = Model.Id }, null))
            </div>
        }
    </div>
</div>