@model Modification
@{
    ViewBag.Title = Model != null ? "Удалить модификацию " + Model.FullName : "Модификация не найдена";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@if (Model == null)
{
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header fleft">Модификация не найдена</h1>
        </div>
    </div>
    return;
}
<div class="breadcrumbs flat">
    @HtmlManager.DashboardBreadCrumbs(Html, Model, HtmlManager.DeleteLink(Html, Model))
</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header fleft">Удалить модификацию @Model.FullName</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p>Вы уверены, что хотите удалить модификацию @Model.FullName ?</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @HtmlManager.ProccessResultContainer(ViewBag.Result)
        @using (Html.BeginForm("ManageModificationDeleting", "Dashboard", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(id => Model.Id)
            <div class="form-group">
                @HtmlManager.SubmitButton()
                @HtmlManager.DefaultButton(Html.ActionLink("Назад", "Modification", "Dashboard", new { id = Model.Id }, null))
            </div>
        }
    </div>
</div>