@model Tuple<CarModel, IEnumerable<BodyClass>>
@{
    ViewBag.Title = Model != null ? "Добавить модель для " + Model.Item1.FullName : "Модель не найдена";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@if (Model == null)
{
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Модель не найдена</h1>
        </div>
    </div>
    return;
}
<div class="breadcrumbs flat">
    @HtmlManager.DashboardBreadCrumbs(Html, Model.Item1, HtmlManager.EditLink(Html, Model.Item1))
</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header fleft">Редактировать @Model.Item1.FullName</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        @HtmlManager.ProccessResultContainer(ViewBag.Result)
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        @using (Html.BeginForm("ManageModelEditing", "Dashboard", FormMethod.Post, new { id = "main-form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
             <input type="hidden" id="id" name="id" value="@Model.Item1.Id"/>
            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label class="control-label col-md-2" for="Name">Название</label>
                    <div class="col-md-2">
                        <input type="hidden" id="bodyType" name="bodyType" />
                        <input class="form-control" id="Name" name="Name" type="text" value="@Model.Item1.Name" placeholder="Название" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="Name">Тип кузова</label>
                    <div class="fleft pad-15">
                        @Html.DropDownList("BodyClasses", new SelectList(Model.Item2, "Id", "Name",Model.Item1.BodyType.BodyClassId), new { @class = "form-control" })
                    </div>
                    <div class="fleft pad-15">
                        @foreach (BodyClass bodyClass in Model.Item2)
                        {
                            var list = new SelectList(bodyClass.BodyTypes, "Id", "Name");
                            if (bodyClass.Id == Model.Item1.BodyType.BodyClassId)
                            {
                                list = new SelectList(bodyClass.BodyTypes, "Id", "Name",Model.Item1.BodyTypeId);
                            }
                            @Html.DropDownList("BodyTypes" + bodyClass.Id, list, new { @class = "bodyTypeList form-control" })
                        }
                    </div>
                </div>
                @{
            int year = DateTime.Now.Year;
                }
                <div class="form-group">
                    <label class="control-label col-md-2" for="start">Старт производства</label>
                    <div class="col-md-2">
                        <input class="form-control" value="@Model.Item1.StartYearOfProductionAsNumber" id="start" name="start" type="number" placeholder="Неизвестно" min="1769" max="@year" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="end">Окончание производства</label>
                    <div class="col-md-2">
                        <input class="form-control" value="@Model.Item1.EndYearOfProductionAsNumber" id="end" name="end" type="number" placeholder="Неизвестно" min="1769" max="@year" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Изображение</label>
                    <div class="col-md-2">
                        @HtmlManager.ImageUpload(Model.Item1.Image)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="alert alert-warning">
                            Внимание! Для правильньного отображения модели должно быть заполнено имя модели либо годы производства.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @HtmlManager.SubmitButton()
                        @HtmlManager.DefaultButton(Html.ActionLink("Назад", "Model", "Dashboard", new { id = Model.Item1.Id },null))
                    </div>
                </div>
            </div>
        }
    </div>
    @foreach (BodyClass bodyClass in Model.Item2)
    {
        foreach (BodyType bodyType in bodyClass.BodyTypes)
        {
            @HtmlManager.InfoBox(bodyType.Id, bodyType.Name, bodyType.Description)
        }
    }
</div>
@section Scripts
{
    <script>
        $('#main-form').on('submit', function () {
            //e.preventDefault();
            var classId = $('#BodyClasses').val();
            var typeId = $("#BodyTypes" + classId).val();
            $('#bodyType').val(typeId);
            //console.log($('#bodyType').val());
        });
        $(document).ready(function () {
            $('#BodyClasses').change(function () {
                $(".bodyTypeList").css("display", "none");
                var classId3 = $('#BodyClasses').val();
                $("#BodyTypes" + classId3).css("display", "inline");
                var id2 = $("#BodyTypes" + classId3).val();
                $(".info-box").css("display", "none");
                $("#InfoBox" + id2).css("display", "inline");
            });
            $('.bodyTypeList').change(function () {
                var classId3 = $('#BodyClasses').val();
                var id2 = $("#BodyTypes" + classId3).val();
                $(".info-box").css("display", "none");
                $("#InfoBox" + id2).css("display", "inline");
            });
            $(".bodyTypeList").css("display", "none");
            var classId2 = $('#BodyClasses').val();
            $("#BodyTypes" + classId2).css("display", "inline");
            var id = $("#BodyTypes" + classId2).val();
            $(".info-box").css("display", "none");
            $("#InfoBox" + id).css("display", "inline");
        });
    </script>
}