@model News
@{
    ViewBag.Title = Model != null ? Model.Title : "Новость не найдена";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@if (Model == null)
{
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Новость не найдена</h1>
        </div>
    </div>
    return;
}

@section Styles
{
    @Styles.Render("~/bundles/DataTablesStyles")
}
@section Scripts
{
    @Scripts.Render("~/bundles/DataTablesScripts")
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
}
@*<div class="breadcrumbs flat">
        @HtmlManager.DashboardBreadCrumbs(Html, Model)
    </div>*@
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header fleft">@Model.Title</h1>
        <div class="action-buttons">
            @*@HtmlManager.AddButton(HtmlManager.AddLink(Html, Model))*@
            @HtmlManager.EditButton(HtmlManager.EditLink(Html, Model))
            @HtmlManager.DeleteButton(HtmlManager.DeleteLink(Html, Model))
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        @HtmlManager.ProccessResultContainer(ViewBag.Result)
        <div>
            <h3 class="page-header">Название</h3>
            <div>@Model.Title</div>
            <h3 class="page-header">Текст</h3>
            <div>@Html.Raw(Model.Text)</div>
            <h3 class="page-header">Изображение</h3>
            <div>@HtmlManager.Image(Model.Image, Model.Title)</div>
        </div>
    </div>
</div>