@model IEnumerable<News>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model == null)
    {
        return;
    }
    bool b = !Model.Any();
}
@helper SearchAndPagination()
{
    <div>
        <div style="display: inline-block;width: 50%">
            @HtmlManager.Pagination(Url, "Index", "News", ViewBag.Max, ViewBag.Current, ViewBag.Search)
        </div>
        <div style="display: inline-block; width: 49%;float: right;margin: 10px 0">
            <form style="float: right" id="search" action="@Url.Action("Index","News")" method="GET" accept-charset="utf-8">
                <div class="clearfix">
                    <input type="text" name="search" onblur="if (this.value == '') this.value = '';" onfocus="if (this.value == '') this.value = '';">
                    <a href="#" onclick="document.getElementById('search').submit()" class="btn btn-1">Поиск</a>
                </div>
            </form>
        </div>
    </div>
}

<!--  content  -->
<div id="content">
    <div class="ic"></div>
    <div class="container">
        <div class="row">
            <article class="span12">

                @if (!b)
                {
                    @SearchAndPagination()
                }
                <div class="inner-1">
                    @if (ViewBag.Search != null)
                    {
                        if (b)
                        {
                            <div style="font-style: italic; margin-top: 40px; font-size: 150%;">По запросу "@ViewBag.Search" ниче не найдено</div>
                        }
                        else
                        {
                            <div style="font-style: italic; margin-top: 40px; font-size: 150%;">Результаты поиска по запросу: "@ViewBag.Search"</div>
                        }
                    }

                    <ul class="list-blog">
                        @foreach (News news in Model)
                        {
                            <li>
                                <h3>@Html.ActionLink(news.Title, "News", "News", new { id = news.Id }, null)</h3>
                                <time datetime="@String.Format("{0:yyyy-MM-dd}", news.Date)" class="date-1"><i class="icon-calendar"></i> @String.Format("{0:dd-MM-yyyy}", news.Date)</time>
                                <a href="@Url.Action( "News", "News", new { id = news.Id })#comments" class="comments"><i class="icon-comment"></i> @news.Comments.Count()</a>
                                <div class="clear"></div>
                                <div><a href="@Url.Action( "News", "News", new { id = news.Id })">@HtmlManager.Image(news.Image, news.ShortTitle)</a></div>
                            </li>
                        }

                    </ul>
                </div>
                @if (!b)
                {
                    @SearchAndPagination()
                }
            </article>

        </div>
    </div>
</div>
